* {
	padding:0;
	margin:0;
	border:0;
	outline:0;
	box-sizing:border-box;
}

body {
	background: url("@{images}/bg.jpg") 0 0 repeat;
	font:normal 16px/1 @font-arial;
}

.wrapper {
	width:970px;
	margin:30px auto;
	padding:0 25px;
}

.wrap-logo {
	width:165px;
	height:91px;
	margin:0 auto 20px;
	background: url("@{images}/logo.jpg")0 0 no-repeat, url("@{images}/bg.jpg") 0 0 no-repeat;
	background-blend-mode:darken;
}
.description {
	color:#585858;
	font-size: 14px;
	line-height:1.2;
	margin-bottom:10px;
}
.task__item {
	margin:30px 0;
}
