@font-face {
	font-family: 'ArialNarrow-Bold';
	src: url('ArialNarrow-Bold.eot?#iefix') format('embedded-opentype'),  
	url('ArialNarrow-Bold.woff') format('woff'), 
	url('ArialNarrow-Bold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}