.game-rule {
	font:normal 18px/1 @font-arial;
	color:@gray-color-text;
	margin: 20px 0;
}
.block-column {
	column-width: 360px;
	column-count: 2;
	column-gap:95px;
	column-rule: 1px solid #a7a7a7;
}
.block-column__title {
	color:@gray-color-text;
	text-indent:20px;
	margin-bottom:25px;
	font-size:14px;
	line-height:1.3;
}
.column-list {
	counter-reset: item 0;
	max-width:380px;
}
.column-list__item {
	color:#4d4e53;
	line-height:1.5;
	font-size: 14px;
	list-style-type:none;
	list-style-position: inside;

	&::before{
		counter-increment: item;
		content:counter(item)". ";
		font-weight:bold;
	}
	p {
		color:@gray-color-text;
		text-indent: 20px;
	}
}
.column-list__item-inner {
	color:@gray-color-text;
	line-height:1.4;
	padding-left:20px;
	li {
		list-style-type:none;

		&::before {
			content:'-';
			padding:0 4px
		}
	}
}
.not-process {
	margin:25px 0;
}