.adaptive-list {
	@media screen and (max-width:800px) {
		display:inline-block;
		white-space: nowrap;
	    background: url("@{images}/bg-menu.jpg")0 0 repeat;
	    padding-left:20px;
		outline:1px solid #cdcdcd;
		border:1px solid #fff;
		box-shadow:0 0 12px rgba(0, 0, 0, 0.12);
	    &::before{
	    	content:"";
	    	float: left;
	    	width:12px;
	    	height:10px;
	    	background: url("@{images}/menu-icon.png")0 center no-repeat;
	    	margin-left:-12px;
	    	margin-top:12px;
	    }
	}

	&__item {
		.no-bullet;
		float:left;
		@media screen and (max-width:800px) {
			float:none;
		    display:none;
		    line-height:1.8;
		    text-align:left;
		    &.active {
		    	display:block;
		    	width:auto;
		    }
		}
	}

	&__link {
		color: @gray-color-text;
		font-family: @font-arial;
		text-decoration: none;
		padding:6px 7px;
		border-radius:3px;
		font-size: 14px;
		&:hover {
			background: @gray-color-text;
			color: #fff;
		}
		@media screen and (max-width:800px) {
			background: url("@{images}/bg-menu.jpg")0 0 repeat;
			margin-left: 7px;	
			&:hover {
				background: transparent;
				color: #2a2a2a;
				position:relative;

				
			}
		}

	}
}
.adaptive-list--active {
	@media screen and (max-width:800px){
		&::before {
			display:none;
		}
		.adaptive-list__item {
			display:block;
			.adaptive-list__link{
				&:hover{
					&::before{
						content:'';
						position:absolute;
						top:10px;
						left:-22px;
						background: url("@{images}/arrow-menu.png") 0 0 no-repeat;
						width:13px;
						height:6px;
					}
				}
			}
		}
	}
}