.search-block {
	width:430px;
	padding:10px;
	display: flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	overflow:hidden;
	position:relative;
	
	form {
		width:100%;
		display: flex;
		flex-flow:row nowrap;
		justify-content:space-between;
	}

	&__field {
		padding:7px 5px 7px 38px;
		margin-right:7px;
		height:40px;
		min-width:100px;
		text-overflow:elipsis;
		border-radius:3px;
		border-bottom:1px solid #efefef;
		box-shadow: inset 0 2px 3px rgba(0,0,0,0.3), 0 1px 1px rgba(0, 0, 0, 0.1);
		flex-grow:2000;
		background: url("@{images}/find-icon.png") #fbfbfb 13px center no-repeat;
		font:normal 16px/1 @font-arial;

		&:focus {
			background: url("@{images}/find-icon.png") #fff 13px center no-repeat, 
						url("@{images}/del-icon.png") 95% center no-repeat #fff;
			box-shadow: inset 0 3px 6px 2px rgba(0,0,0,0.2), 0 -1px 1px 1px rgba(255,255,255,1);
			border-bottom:1px solid #fff;
		}

		&::-webkit-input-placeholder {
			color:#5c5e5f;
			font-size: 16px;
		}

		&::-moz-placeholder {
			color:#5c5e5f;
			font-size: 16px;
		}

		&:-moz-placeholder{
			color:#5c5e5f;
			font-size: 16px;
		}

		&:-ms-input-placeholder {
			color:#5c5e5f;
			font-size: 16px;
		}
	}


	&__button {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		text-indent: -9999px;
		width:100%;
		background: transparent;
		cursor:pointer;	
	}
}
	.wrap-button {
		position:relative;
		display:inline-block;
		text-align:right;
		height:40px;
		line-height:1;
		vertical-align:middle;
		flex-grow:1;

		&:hover .wrap-button__name {
			background: linear-gradient(to top, #e7e8e8, #f6f6f6);
			color:#000;
			box-shadow:1px 3px 2px -1px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.3);
		}
	}


	.wrap-button__name {
		font:bold 12px @font-arial-narrow;
		text-transform: uppercase;
		background: linear-gradient(to top, #d9dada, #e6e6e6);
		display:inline-block;
		height:38px;
		line-height:38px;
		border:1px solid #eeefef;
		border-left:1px solid #e4e4e4;
		border-right:1px solid #e4e4e4;
		padding:0 17px;
		text-align: center;
		box-shadow:1px 2px 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3);
		border-radius:3px;	
		white-space:nowrap;
		color:#373f45;
	}
